---
import CoachingSection from '../components/CoachingSection.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HostSection from '../components/HostSection.astro';
import PodcastSection from '../components/PodcastSection.astro';
import RecentEpisodesSection from '../components/RecentEpisodesSection.astro';
import StorySection from '../components/StorySection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import ScrollToTop from '../components/ui/ScrollToTop.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Entwicklungszeit - Der Podcast für Softwareentwicklung, Führung & Kommunikation"
  description="Entwickle dich weiter mit dem Entwicklungszeit Podcast. Praxisnahe Einblicke in Softwareentwicklung, Führung und Kommunikation. Mit Host Gregor Woiwode, erfahrener Tech Lead und Coach."
>
  <Header />
  <main>
    <Hero />
    <PodcastSection />
    <RecentEpisodesSection />
    <StorySection />
    <HostSection />
    <TestimonialsSection />
    <CoachingSection />
  </main>
  <Footer />
  <ScrollToTop />
</Layout>
