---
import Heading from './Heading.astro';
import Accordion from './ui/Accordion.astro';
import Section from './ui/Section.astro';
---

<Section id="faq" background="white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <Heading title="Häufig gestellte Fragen" />
      <p class="text-gray-600 max-w-2xl mx-auto">
        Hier findest du Antworten auf die häufigsten Fragen zum Impact
        Developer-Programm
      </p>
    </div>

    <div class="mb-16">
      <Accordion />
    </div>
  </div>
</Section>
