---
import Button from './ui/Button.astro';
---

<div class="navigation-container flex items-center justify-between w-full">
  <div
    class="brand-title text-gray-900 font-semibold ml-4 text-base md:text-xl truncate"
  >
    <span>Entwicklungszeit</span>
  </div>

  <nav aria-label="Main navigation">
    <ul class="flex items-center space-x-6">
      <li class="hidden md:block">
        <Button
          href="#coaching"
          variant="outline"
          size="sm"
          aria-label="Impact Developer"
        >
          Impact Developer
        </Button>
      </li>
      <li>
        <Button
          href="https://calendly.com/gregor-entwicklungszeit/30min"
          target="_blank"
          rel="noopener noreferrer"
          size="sm"
          aria-label="Termin buchen"
        >
          Termin buchen
        </Button>
      </li>
    </ul>
  </nav>
</div>

<script>
  // Add smooth scrolling to the Impact Developer link
  document.addEventListener('DOMContentLoaded', () => {
    document
      .querySelector('a[href="#coaching"]')
      ?.addEventListener('click', e => {
        e.preventDefault();
        const targetSection = document.getElementById('coaching');
        if (targetSection) {
          targetSection.scrollIntoView({ behavior: 'smooth' });
        }
      });
  });
</script>
