---
import Section from './ui/Section.astro';
import Heading from './Heading.astro';
import RecentEpisodes from './ui/RecentEpisodes.vue';
---

<Section id="recent-episodes" background="white">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <Heading title="Aktuelle Folgen" />
    <RecentEpisodes client:load />
  </div>
</Section>
